* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   background-color: #1abc9c;
   /* color: #212529; */
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
body {
  /* margin: 15px; */
  padding: 20px;
  margin-bottom: 13px;
  /* background-color: sandybrown; */
  /* font-family: Arial; */
  /* font-size: 18px; */
}

#Welcome-paragraph{
  margin-top: 2px;
  margin-bottom: 1px;
  /* border: solid */
}

#Welcome-paragraph2{
  margin-top: 1px;
  margin-bottom: 20px;
  /* border: solid */
}

#intro-me{
  margin-top: 1px;
  margin-bottom: 0px;

}

.topics {
  background-color: #444;
  border: 1px solid whitesmoke;
  border-style: ridge;
  border-color: violet;
  color: brown;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 5px
  /* margin: 22px; */
}

/* #box-content { */
  /* color: blue; */
  /* border: solid; */
  /* size: 1px; */
  /* width: ; */
  /* margin-left: 60px; */
}

#your-name {
  color: darkviolet;
  background-color: rgb(255, 220, 105);
  width: 400px;
  padding: 25px;
  border: 5px solid #444;
}

.paragraph {
  margin-top: 2px;
  margin-bottom: 20px;

}

input {
  /* margin: 12px; */
  /* size: 2px; */
  background-color: wheat;
  padding: 5px;
  border: solid;
  width: 150px;
}

button {
  size: 10px;
}

#identity-details {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 12px;
}

#my-photo{
  margin-bottom: 1px;
  display: block;
  margin-left: 15%;
  margin-right: auto;
  width: 150px;
  height: 200px;
  ;
}