* {
  /* padding: 0;
  margin: 0; */
  /* box-sizing: border-box; */
   background-color: #1abc9c;
   /* box-sizing: inherit; */
   /* color: #212529; */
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
body {
  /* margin: 15px; */
  padding: 20px;
  width: 100%;
  margin-bottom: 13px;
  text-align: center;
  /* background-color: sandybrown; */
  /* font-family: Arial; */
  /* font-size: 18px; */
}


#intro-me{
  margin-top: 1px;
  text-align: center;
  margin-bottom: 0px;
  width: 100%;

}

.topics {
  background-color: #444;
  text-align: center;
  border: 1px solid whitesmoke;
  border-style: ridge;
  border-color: violet;
  width: 100%;
  color: brown;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 12px;
  padding-right: 1px;
  /* margin: 22px; */
}

/* #box-content { */
  /* color: blue; */
  /* border: solid; */
  /* size: 1px; */
  /* width: ; */
  /* margin-left: 60px; */
}

#your-name {
  color: darkviolet;
  background-color: rgb(255, 220, 105);
  width: 400px;
  padding: 25px;
  text-align: center;
  border: 5px solid #444;
}


input {
  /* margin: 12px; */
  /* size: 2px; */
  margin-left: 40px;
  background-color: wheat;
  padding: 5px;
  text-align: center;
  border: solid;
  width: 250px;
  height: 45px;
}

button {
  size: 10px;
  margin-left:10px;
  border-style: #444;
  border-width :5px;
  border-color: yellowgreen;
}

#identity-details {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 12px;
}

#my-photo{
  margin-bottom: 1px;
  display: block;
  margin-left: 800px;
  margin-right: 500px;
  width: 250px;
  height: 300px;
  /* text-align: center; */
  ;
}


#topics1{
  background-color: #444;
  border: 1px solid whitesmoke;
  border-width: 12px;
  border-style: ridge;
  border-color: violet;
  color: brown;
  margin-bottom: 6px;
  margin-right: 30%;
  margin-left: 30%;
  text-align: center;
  margin-top: 10px;
  padding: 12px;
  padding-right: 1px;
  /* Width: 270px; */
}

#topics2{
  background-color: #444;
  border: 1px solid whitesmoke;
  border-width: 12px;
  border-style: ridge;
  border-color: violet;
  text-align: center;
  color: brown;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 6px;
  margin-top: 30px;
  padding: 7px;
  padding-right: 1px;
  /* Width: 120px; */
}

#topics3{
  background-color: #444;
  text-align: center;
  border: 1px solid whitesmoke;
  border-width: 12px;
  border-style: ridge;
  border-color: violet;
  color: brown;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 6px;
  margin-top: 50px;
  padding: 12px;
  padding-right: 1px;
  /* Width: 250px; */
}

#topics4{
  background-color: #444;
  border: 1px solid whitesmoke;
  border-width: 12px;
  text-align: center;
  border-style: ridge;
  border-color: violet;
  color: brown;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 6px;
  margin-top: 50px;
  padding: 12px;
  padding-right: 1px;
  /* Width: 180px; */
}

#topics5{
  background-color: #444;
  text-align: center;
  border: 1px solid whitesmoke;
  border-width: 12px;
  border-style: ridge;
  border-color: violet;
  color: brown;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 6px;
  margin-top: 40px;
  padding: 12px;
  padding-right: 1px;
  /* Width: 130px; */
}

#paragraph1{
  text-size-adjust: 200px;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 9px;
  margin-bottom: 7px;
  /* width: 250px; */
  border: solid;
  /* width: 400px; */
  height: 60px;
  border-width: 5px;
  /* border-spacing: 5%; */
  text-align: center;
  box-sizing: border-box;
  font-size: 23px;
  /* text-size-adjust: 60%; */
}

#paragraph2{
  margin-top: 2px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 30px;
  /* border: solid */
}

#paragraph2a{
  margin-top: 0px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 30px;
  /* border: solid */
}

#paragraph2b{
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 22px;
  /* border: solid */
}

#paragraph2c{
  margin-top: 0px;
  margin-bottom: 9px;
  text-align: center;
  font-size: 17px;
  /* border: solid */
}


#paragraph3{
  text-align: center;
  margin-top: 1px;
  margin-bottom: 4px;
  /* border: solid */
}

#paragraph4{
  /* margin-top: 2px; */
  margin-bottom: 9px;
  /* border: solid */
  text-align: center;
}